apex==0.9.10dev
astunparse==1.6.3
Cython==3.2.4
faiss==1.5.3
fastText==0.9.3
javalang==0.13.0
numpy==2.4.4
pandas==3.0.2
psutil==6.1.0
pycuda==2026.1
pylint==4.0.5
pytest==9.0.2
pythainlp==5.3.4
sacrebleu==2.4.3
scikit_learn==1.8.0
scripts==3.0
setuptools==75.6.0
six==1.17.0
stringcase==1.2.0
submitit==1.5.4
torch==2.5.1+cu124
tqdm==4.67.1
transformers==4.46.2
tree_sitter==0.20.1
